In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix
import re

In [24]:
# Load dataset
ahs_data = pd.read_csv('ahs2023n.csv')
ahs_data.head(100)

,CONTROL,TOTROOMS,PERPOVLVL,JACPRIMARY,JACSECNDRY,JADEQUACY,JAIRRATE,JBATHEXCLU,JBATHROOMS,JBEDROOMS,...,JOBFUNDS23,JOBFUNDS24,JOBTYPE21,JOBTYPE22,JOBTYPE23,JOBTYPE24,JOBWORKYR21,JOBWORKYR22,JOBWORKYR23,JOBWORKYR24
0,'11000002',6,-6,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
1,'11000003',4,199,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
2,'11000005',7,501,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
3,'11000006',5,232,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
4,'11000008',3,231,'2','2','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,'11000213',2,1,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
96,'11000214',5,74,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
97,'11000215',3,54,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
98,'11000216',5,501,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '
99,'11000217',4,398,'0','0','2','0','0','0','0',...,' ',' ',' ',' ',' ',' ',' ',' ',' ',' '

In [25]:
for col in ahs_data.columns:
    if ahs_data[col].dtype == 'object':
        ahs_data[col] = ahs_data[col].str.replace("'", "", regex=False)
        ahs_data[col] = ahs_data[col].replace(['', ' ', '  ', '.'], np.nan)
        ahs_data[col] = ahs_data[col].str.strip()
        ahs_data[col] = ahs_data[col].replace('', np.nan)

numeric_cols = [col for col in ahs_data.columns if any(x in col for x in 
                ['JOB', 'FUNDS', 'TYPE', 'WORKYR', 'BEDROOMS', 'BATHROOMS'])]

for col in numeric_cols:
    ahs_data[col] = pd.to_numeric(ahs_data[col], errors='coerce')
print("\nMissing Values per Column:")
print(ahs_data.isnull().sum().sort_values(ascending=False).head(20))

Missing Values per Column:
JOBWORKYR24    55668
MLPB14         55668
MLPCD14        55668
MLPCD15        55668
MLPE14         55668
MLPE15         55668
MLPFG14        55668
MLPFG15        55668
MLPH14         55668
MLPH15         55668
MLPI14         55668
MLPI15         55668
MLPJ14         55668
MLPJ15         55668
MOVERGRP14     55668
MOVERGRP15     55668
NATVTY14       55668
NATVTY15       55668
PASTHMAER14    55668
PASTHMAER15    55668
dtype: int64

In [26]:
# Keep columns with at least 50% non-null
threshold = len(ahs_data) * .5
print(ahs_data.shape)
ahs_data = ahs_data.loc[:, ahs_data.isnull().sum() <= threshold]
print(ahs_data.shape)

(55669, 3214)
(55669, 1392)

In [27]:
# Finds the Market Value Column
candidates = [c for c in ahs_data.columns if re.search(r'price|value|val|sale|market|home|worth', c, re.I)]
print(candidates)
ahs_data[candidates].head()

['JFIRSTHOME', 'JHHPRNTHOME', 'JHMRSALE', 'JMARKETVAL', 'JRMHOME', 'RMHOME', 'HMRSALE', 'HHPRNTHOME', 'FIRSTHOME', 'MARKETVAL']

,JFIRSTHOME,JHHPRNTHOME,JHMRSALE,JMARKETVAL,JRMHOME,RMHOME,HMRSALE,HHPRNTHOME,FIRSTHOME,MARKETVAL
0,0,0,0,0,0,-6,-6,-6,-6,-6
1,0,0,0,0,0,1,-6,1,-6,-6
2,0,0,0,0,0,-6,2,2,2,245790
3,0,0,0,0,0,-6,2,1,2,158200
4,0,0,0,0,0,-6,-6,2,-6,-6

In [ ]:
# Drops rows with -6 in Market Value Column
ahs_data = ahs_data[ahs_data["MARKETVAL"] != -6]
ahs_data.shape

(32234, 1392)

In [32]:
# Gets rid of rows with more then 5 missing values
ahs_data = ahs_data[ahs_data.isnull().sum(axis=1) <= 5]
ahs_data.shape

(21357, 1392)

In [34]:
# Seperates the MarketVal column from the rest of the data
market_data = ahs_data["MARKETVAL"]
ahs_data = ahs_data.drop(columns=['MARKETVAL'])